# Gradle
.gradle/
build/
*/build/

# Kotlin / Java
*.class
*.pyc

# IDE - IntelliJ / Android Studio
.idea/
*.iml
*.iws
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio captures
captures/

# External native build
.externalNativeBuild/
.cxx/

# OS X
.DS_Store

# Built variants
*.apk
*.aar
*.jar
!gradle/wrapper/gradle-wrapper.jar
